section {
  box-sizing: border-box;
  margin: 100px 150px;
  min-height: calc(100vh - 190px);
}

footer {
  position: relative;
  height: 55px;
  background-color: #f55a5a;
  columns: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 55px;
  bottom: 0;
}
